# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mviz.patch
prob1_mandelbrot_threads/mandelbrot
prob1_mandelbrot_threads/mandelbrot-v0-serial.ppm
prob1_mandelbrot_threads/mandelbrot-v0-thread-2.ppm
prob1_mandelbrot_threads/mandelbrot-v0-thread-4.ppm
prob1_mandelbrot_threads/mandelbrot-v0-thread-8.ppm
prob1_mandelbrot_threads/mandelbrot-v0-thread-16.ppm
prob1_mandelbrot_threads/mandelbrot-v1-serial.ppm
prob1_mandelbrot_threads/mandelbrot-v1-thread-1.ppm
prob1_mandelbrot_threads/mandelbrot-v1-thread-2.ppm
prob1_mandelbrot_threads/mandelbrot-v1-thread-3.ppm
prob1_mandelbrot_threads/mandelbrot-v1-thread-4.ppm
prob1_mandelbrot_threads/mandelbrot-v2-serial.ppm
prob1_mandelbrot_threads/mandelbrot-v2-thread-4.ppm
